*.DS_Store
*__pycache__
**/data_cache/
**/outputs/
# SQLite transient files
*.db-wal
*.db-shm
*.db-journal

# Environment variables
.env

# Ignore temporary directory
tmp/

# Python
*.pyc
.pytest_cache/
