*.DS_Store
*__pycache__
**/data_cache/
results/aluminum/
**/outputs/
# SQLite transient files
*.db
*.sqlite3
*.db-wal
*.db-shm
*.db-journal
*.sqlite3-wal
*.sqlite3-shm
*.sqlite3-journal

# Environment variables
.env

# Ignore temporary directory
tmp/

# Python
*.pyc
.pytest_cache/
